.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cody__container {
    /*width: 80dvw;*/
    height: 50dvh;
    margin-top: 4rem;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.leftDiv {
    width: 25dvw;
    height: 45dvh;
}

.rightDiv {
    display: flex;
    align-items: center;
    width: 50dvw;
    height: 45dvh;
}
