.detailProductDetail__container {
    width: 80dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailProductDetail__button {
    width: 70dvw;
    height: 10dvh;
    background-color: lightgray;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
}
.detailProductDetail__HTML {
    width: 80dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}