.product__container{
    width: 85dvw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.product__cardDiv {
    width: 17dvw;
    height: 40dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1dvh 0.5dvw;
}
.product__imageDiv {
    width: 16dvw;
    height: 28dvh;
    border-radius: 15px;
    border: 1px solid lightgray;
}
.product__image {
    width: 16dvw;
    height: 28dvh;
    border: 1px solid lightgray;
    resize: block;
    border-radius: 15px;
}
.product__textDiv {
    width: 16dvw;
    height: 10dvh;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.product__name {
    font-size: 18px;
    font-weight: 600;
}
.product__brand {
    font-size: 16px;
    font-weight: 600;
}
.product__price {
    font-size: 17px;
    font-weight: 600;
}