.container {
    width: 90dvw;
    height: calc(90dvh - 85px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftDiv {
    width: 43dvw;
    height: 80dvh;
    border: 1px solid lightgray;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boundary {
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*border-radius: 0.75rem;*/
    /*background-color: #E5E7EB;*/
    /*display: grid;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    overflow: hidden;
    position: relative;
    border-radius: 0.75rem;
    height: 16rem;
    background-color: #E5E7EB;
}
.boxDiv {
    position: relative;
}
.box {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: move;
    border-radius: 0.75rem; /* rounded-xl */
    background-color: white; /* bg-white */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
    border: 1px solid rgba(156, 163, 175, 0.1); /* ring-1 ring-gray-100 */
    transition: shadow 0.2s ease-in-out, transform 0.2s ease-in-out; /* transition-[shadow,transform] */
}
.box :active {
    transform: scale(0.97); /* active:scale-[0.97] */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.25); /* active:shadow-lg */
}

.box__leftTop {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    width: 1rem;
    height: 1rem;
    cursor: nw-resize;
}
.box__rightTop {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 1rem;
    height: 1rem;
    cursor: ne-resize;
}
.box__leftBottom {
    position: absolute;
    bottom: -0.25rem;
    left: -0.25rem;
    width: 1rem;
    height: 1rem;
    cursor: ne-resize;
}
.box__rightBottom {
    position: absolute;
    right: -0.25rem;
    bottom: -0.25rem;
    width: 1rem;
    height: 1rem;
    cursor: se-resize;
}
.box__top {
    position: absolute;
    top: -0.125rem;
    right: 0.75rem;
    left: 0.75rem;
    height: 0.5rem;
    cursor: n-resize;
}
.box__bottom {
    position: absolute;
    bottom: -0.125rem;
    right: 0.75rem;
    left: 0.75rem;
    height: 0.5rem;
    cursor: s-resize;
}
.box__right {
    position: absolute;
    right: -0.125rem;
    top: 0.75rem;
    bottom: 0.75rem;
    width: 0.5rem;
    cursor: e-resize;
}
.box__left {
    position: absolute;
    left: -0.125rem;
    top: 0.75rem;
    bottom: 0.75rem;
    width: 0.5rem;
    cursor: w-resize;
}

.rightDiv {
    width: 43dvw;
    height: 80dvh;
    border: 1px solid lightgray;
    border-radius: 0.75rem;
}
