.background {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 80dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}