.background {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 85dvw;
    border: 1px solid lightgray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}