.container {
  width: inherit;
  height: 85px;
  background-color: black;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  width: 50dvw;
}
.leftContainerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 15dvw;
}
.leftContainerUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: inherit;
  margin-left: 5dvw;
  width: 30dvw;
}

.leftContainerUl a {
  font-size: 26px;
  font-weight: 700;
}

.rightContainer {
  width: 50dvw;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rightContainerUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: inherit;
  width: 15dvw;
}