.container {
  width: inherit;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.topContainerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 250px;
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: inherit;
  width: 50%;
}

.bottomContainer a {
  font-size: 17px;
  font-weight: 600;
  color: black;
}

.rightContainer {
  position: absolute;
  right: 3rem;
  top: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.rightContainerIcon {
  color: black;
  font-size: 25px;
}