.container {
    width: 90dvw;
}

.item {
    display: inline-block;
    width: 21dvw;
    padding-bottom: 40px;
    @media (max-width: 800px) {
        width: 42dvw;
    }
}

.innerDiv {
    width: 100%;
    border: 0.5px solid lightgray;
    box-shadow: 1px 1px lightgray;
}
.topDiv {
    overflow: hidden;
    position: relative;
}

.bottomDiv {
    width: 100%;
    background-color: white;
}

.bottomDiv__topDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}
.bottomDiv__topDiv__leftDiv {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}
.bottomDiv__topDiv__leftDiv__profileImage {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    border: 0.5px solid lightgray;
}
.bottomDiv__topDiv__leftDiv__username {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.5rem;
}

.bottomDiv__topDiv__rightDiv {
    position: absolute;
    top: 7px;
    right: 7px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.bottomDiv__topDiv__rightDiv__likeDiv {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}
.bottomDiv__topDiv__rightDiv__like {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.bottomDiv__topDiv__rightDiv__likeCnt {
    font-size: 14px;
    color: #292929;
    font-weight: 200;
}
.bottomDiv__bottomDiv {
    width: 100%;
}
.bottomDiv__bottomDiv__content {
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-wrap: normal;
    word-break: break-word;
    margin: 5px 8px 14px 8px;
}
