.scripts__container {
    width: 80dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scripts__topDiv {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 0 0.5rem;
}

.scripts__topDiv__textDiv {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.scripts__topDiv__textSpan {
    font-size: 20px;
    font-weight: 600;
}

.scripts__bottomDiv {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 자동으로 그리드 크기 조정 */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.scripts__bottomDiv__container {
    width: 100%;
    height: 300px;
    border: 1px solid lightgray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scripts__bottomDiv__cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;

}
.scripts__bottomDiv__image {
    width: 100%;
}

.scripts__bottomDiv__nameDiv {
    position: absolute;
}

.scripts__bottomDiv__name {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.scripts__noneDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.scripts__none {
    font-size: 25px;
    font-weight: 600;
}