.background {
    z-index: 10;
    top: 0;
    position: absolute;
    width: 100dvw;
    height: calc(100dvh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.loadingComponent {
    width: 500px;
    min-height: 500px;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    gap: 1rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotatingImage {
    animation: rotate 2s linear infinite;
}