.background {
    z-index: 10;
    top: 0;
    position: absolute;
    width: 100dvw;
    height: calc(100dvh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.container {
    width: 90dvw;
    height: calc(90dvh - 85px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left__container {
    width: 40dvw;
    border: 1px solid gray;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.middle__container {
    width: 5dvw;
    height: 85dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.right__container {
    width: 40dvw;
    border: 1px solid gray;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image {
    width: 40dvw;
    border: 1px solid gray;
    border-radius: 0.75rem;
}
.spanDiv {
    width: 90%;
    height: 35px;
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.keywordDiv {
    width: 25%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span {
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.line {
    height: 40%;
    width: 3px;
    background-color: black;
}
.vs {
    font-size: 35px;
}