.cody {
    width: 25dvw;
    height: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    overflow: hidden;
    padding: 1rem;
}
.codyImg {
    position: absolute;
    object-fit: cover;
    width: 25dvw;
    height: auto;
    z-index: 1;
}
.codyImg__cover {
    width: 25dvw;
    height: 46dvh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}
.cody__topDiv{
    z-index: 10;
    width: 25dvw;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 15px;
}
.cody__topDiv__profileDiv {
    width: 40px;
    height: 40px;
    background-color: #d5cece;
    border-radius: 100%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cody__topDiv__profileImg {
    width: 35px;
    height: 35px;
    opacity: 0.7;
}
.cody__topDiv__username {
    font-size: 17px;
    font-weight: 800;
    color: white;
    margin-left: 10px;
}
.cody__bottomDiv {
    z-index: 10;
    align-self: center;
    margin-bottom: 40px;
}
.cody__bottomDiv__codyName {
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-wrap: normal;
}