.productList__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightgray;
    border-radius: 25px;
}

.productList {
    width: 49%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product {
    width: 100%;
    height: 31%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}
.product__leftDiv {
    width: 25%;
    height: 100%;
}
.product__leftDiv__productImg {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.product__rightDiv {
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product__rightDiv__productName {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 5px;
}
.product__rightDiv__productBrand {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 7px;
    opacity: 0.7;
}
.product__rightDiv__productPrice {
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 6px;
}
.line {
    position: absolute;
    bottom: -5px;
    width: 90%;
    height: 1px;
    background-color: lightgray;
}