.container {
  width: 100dvw;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  padding: 0 3rem;
}

.rightDiv {
  width: 38dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightDivTopDiv {
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70px;
  margin-top: 120px;
  padding-left: 80px;
}

.rightDivTopText {
  font-size: 60px;
  font-weight: 900;
  color: #836BFF;
  margin-bottom: 10px;
}

.rightDivMiddleText {
  font-size: 50px;
  font-weight: 900;
  color: black;
}

.rightDivBottomDiv {
  width: 80%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QRDiv {
  width: 110px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.QRDiv img {
  width: 110px;
  height: 110px;
}

.leftDivBottomText {
  color: black;
  font-size: 18px;
}

.oneTwoThreeContainer {
  height: 100%;
  width: 100%;
}

.oneDiv {
  display: flex;
  height: 100%;
  width: 100%;
}

.oneLeftDiv {
  display: flex;
}

.oneRightDiv {
}

.oneText {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.threeDiv {
  display: flex;
  height: 100%;
  width: 100%;
}