.container {
  width: 100dvw;
  height: 100dvh;
  background-color: black;
  display: flex;
}

.leftDiv {
  width: 40%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftDivTopDiv {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70px;
  margin-top: 120px;
}
.leftDivTopText {
  font-size: 60px;
  font-weight: 900;
  color: #836BFF;
  margin-bottom: 10px;
}
.leftDivMiddleText {
  font-size: 50px;
  font-weight: 900;
  color: white;

}
.leftDivBottomDiv {
  width: 80%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.QRDiv {
  width: 110px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}
.QRDiv img {
  width: 110px;
  height: 110px;
}
.leftDivBottomText {
  color: white;
  font-size: 18px;
}

.rightDiv {
  width: 60%;
  height: 100dvh;
}
.phoneDiv {
  width: 100%;
  height: 700px;
  margin-left: 40px;
}
.phoneDiv img {
  width: 100%;
  height: 700px;
}